<form action="" method="post">
    <fieldset>
        <legend>Voeg een festival toe</legend>
        <div class="formlist">
            <div class="form-option">
            <label for="lowlands">Lowlands</label>
            <input type="checkbox" name="festival" id="lowlands">
            </div>
            <div class="form-option">
            <label for="pinkpop">Pinkpop</label>
            <input type="checkbox" name="festival" id="pinkpop">
            </div>
            <div class="form-option">
            <input type="checkbox" name="festival" id="psy-fi">
            <label for="psy-fi">Psy-fi</label>
            </div>
            <button type="submit">Voeg festival toe!</button>
        </div>
    </fieldset>
</form>