<form action="" method="post">
    <fieldset>
        <legend>Voeg een festival toe</legend>
        <label for="lowlands">Lowlands</label>
        <input type="checkbox" name="lowlands" id="lowlands">
        <button type="submit">Voeg festival toe!</button>
    </fieldset>
</form>