<form class="changePass" action="/changePassword" method="post">
	<fieldset>
		<label>Huidig wachtwoord:<input type="password" name="currentPass"/></label>
		<label>Nieuw wachtwoord:<input type="password" name="newPass"/></label>
		<input type="submit" value="change password" />
	</fieldset>
</form>
