<form action="/changePassword" method="post">
	<fieldset>
		<label>Current password:<input type="password" name="currentPass"/></label>
		<label>New password:<input type="password" name="newPass"/></label>
		<input type="submit" value="change password" />
	</fieldset>
</form>
