<form action="/delete" method="post">
    <fieldset>
        <legend>Zeg mijn account op</legend>
        <button class="form__button" type="submit">Delete mijn account</button>
    </fieldset>
</form>