<div>
    <ul>
        <% var aantallikes = 0 %>
        <% if (user.likes.ilikedid.length > 0) { %>
            <% for (var i = 0; i < user.likes.ilikedid.length; i++) { %>
                <% if (user.likes.ilikedid[i].length > 0) { %>
                    <p><%= user.likes.ilikedid[i] %></p>
                    <% include ../partials/unlike.ejs %>
                    <% aantallikes += 1 %>
                <% } %>
            <% } %>
            <p> <%= aantallikes %> like(s)</p>
        <% } else  { %>
                <p>Geen likes</p>
            <% } %>
    </ul>
</div>