<div>
    <ul>
        <% var aantallikes = 0 %>
        <% if (user.likes.likeid.length > 0) { %>
            <% for (var i = 0; i < user.likes.likeid.length; i++) { %>
                <% if (user.likes.likeid[i].length > 0) { %>
                    <p><%= user.likes.likeid[i] %></p>
                    <% aantallikes += 1 %>
                <% } %>
            <% } %>
            <p> <%= aantallikes %> like(s)</p>
        <% } else  { %>
                <p>Geen likes</p>
            <% } %>

    </ul>
</div>
<!--<p><%= user.likes.likeid[0] + ' ' + user.likes.likeid.length %></p>-->