<section class="matches_user">
    <a href="user/<%= user[i]._id %>">
    <div class="profile_picture">
        <img src="<%= user[i].img.url %>" alt="">
    </div>
    <h2><%= user[i].firstName %></h2>
    </a>
</section>