<footer>
	<nav>
		<ul>
			<li>
				<a class="match" href="/match"
					><img src="/public/icons/match.svg" alt=""
				/></a>
			</li>
			<li>
				<a class="noti" href="notifications"
					><img src="/public/icons/notifications.svg" alt=""
				/></a>
			</li>
			<li>
				<a class="chat" href="/views/chats"
					><img src="/public/icons/chat.svg" alt=""
				/></a>
			</li>
			<li>
				<a class="user" href="/profile"
					><img src="/public/icons/user.svg" alt=""
				/></a>
			</li>
			<li>
				<a class="settings" href="/settings"
					><img src="/public/icons/settings.svg" alt=""
				/></a>
			</li>
		</ul>
	</nav>
</footer>
