<footer>
    <nav>
        <ul>
            <li><a class="match" href="/match">Look for match</a></li>
            <li><a class="noti" href="notifications">Settings</a></li>
            <li><a class="chat" href="/views/chats">Chats</a></li>
            <li><a class="user" href="/profile">Profile</a></li>
            <li><a class="settings" href="/settings">Settings</a></li>
        </ul>
    </nav>
</footer>