<header>
    <nav>
        <ul>
            <li><a class="logo" href="/views/index.ejs">Logo</a></li>
            <li><a class="chat" href="">Chats</a></li>
            <li><a class="user" href="user.ejs">Profile</a></li>
            <li><a class="settings" href="settings.ejs">Settings</a></li>
        </ul>
    </nav>
</header>