<div class="prefs">
    <legend>Voorkeuren</legend>
    <div class="form_field">
        <div class="ac-custom">
            <ul>
                <div class="form_option">
                    <li> <label for="male">Man</label>
                    <input type="radio" name="pref" id="prefmale" value="male"></li>
                </div>
                <div class="form_option">
                    <li> <label for="female">Vrouw</label>
                    <input type="radio" name="pref" id="preffemale" value="female"></li>
                </div>
                <!-- <li><div class="form_option">
                    <label for="nopref">Geen voorkeur</label>
                    <input type="radio" name="pref" id="nopref" value="nopref"></li>
                </div> -->
            </ul>
        </div>
    </div>
    <legend>Doel</legend>
    <div class="form_field">
        <div class="ac-custom">
            <ul>
                <div class="form_option">
                    <li><label for="love">Liefde</label>
                    <input type="radio" name="relation" id="love" value="love"></li>
                </div>
                <div class="form_option">
                    <li><label for="friend">Vriendschap</label>
                    <input type="radio" name="relation" id="friend" value="friend"></li>
                </div>
                <!-- <div class="form_option">
                    <li><label for="friend">Geen voorkeur</label>
                    <input type="radio" name="relation" id="relationPref" value="nopref"></li>
                </div> -->
            </ul>
        </div>
    </div>
</div>
</div>
</div>