<fieldset>
        <legend>Voorkeuren</legend>
        <div class="form_field">
            <div class="form_option">
                <label for="male">Man</label>
                <input type="radio" name="pref" id="prefmale" value="male">
            </div>
            <div class="form_option">
                <label for="female">Vrouw</label>
                <input type="radio" name="pref" id="preffemale" value="female">
            </div>
            <div class="form_option">
                <label for="nopref">Geen voorkeur</label>
                <input type="radio" name="pref" id="nopref" value="nopref">
            </div>
        </div>
        <div class="form_field">
            <div class="form_option">
                <label for="love">Liefde</label>
                <input type="radio" name="relation" id="love" value="love">
            </div>
            <div class="form_option">
                <label for="friend">Vriendschap</label>
                <input type="radio" name="relation" id="friend" value="friend">
            </div>
            <div class="form_option">
                <label for="friend">Geen voorkeur</label>
                <input type="radio" name="relation" id="relationPref" value="nopref">
            </div>
        </div>
    </fieldset>