<section class="profile_user">
    <div class="profile_picture">
        <img src="" alt="">
    </div>
    <div class="profile_info">
        <h2 class="profile_name">Username</h2>
        <p class="profile_age">99</p>
        <p class="profile_bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quo ad et commodi delectus inventore natus. Incidunt, tempora ducimus. Sit?</p>
    </div>
    
</section>
