<fieldset>
    <legend>Geslacht</legend>
    <div class="form_field">
        <div class="ac-custom">
            <ul>
                <div class="form_option">
                   <li> <label for="male">Man</label>
                    <input type="radio" value="male" name="gender" id="male" class="gender radio"></li>                     
                </div>
                <div class="form_option">
                   <li> <label for="female">Vrouw</label>
                    <input type="radio" value="female" name="gender" id="female" class="gender radio"></li>
                </div>
            </ul>
        </div>
    </div>
    <div class="form_field">
        <div class="form_option">
            <label for="dob">Geboorte datum</label>
            <input type="date" name="date" id="dob">
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Vertel iets over jezelf</legend>
    <div class="form_field">
        <div class="form_option">
            <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Locatie</legend>
    <div class="form_field">
        <div class="form_option">
            <label for="location">Woonplaats</label>
            <input type="text" name="loc" id="location" >
        </div>
    </div>
</fieldset>
