<fieldset>
    <legend>Geslacht</legend>
    <div class="form_field">
        <div class="form_option">
            <label for="male">Man</label>
            <input type="radio" value="male" name="gender" id="male">                       
        </div>
        <div class="form_option">
            <label for="female">Vrouw</label>
            <input type="radio" value="female" name="gender" id="female">
        </div>
    </div>
    <div class="form_field">
        <div class="form_option">
            <label for="dob">Geboorte datum</label>
            <input type="date" name="date" id="dob">
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Vertel iets over jezelf</legend>
    <div class="form_field">
        <div class="form_option">
            <label for="bio">Bio</label>
            <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Locatie</legend>
    <div class="form_field">
        <div class="form_option">
            <label for="location">Woonplaats</label>
            <input type="text" name="loc" id="location" >
        </div>
    </div>
</fieldset>