
Skip to content
Pull requests
Issues
Marketplace
Explore
@LarsBreuren

0
2

    0

marissaverdonck/InterMatching
Code
Issues 9
Pull requests 3
Projects 1
Wiki
Security
Insights
InterMatching/views/changeinterests.ejs
@Wiebsonice Wiebsonice Merge pull request #27 from marissaverdonck/edit-interests b100660 3 days ago
@TheKevSter35
@Wiebsonice
72 lines (67 sloc) 3.43 KB
<% include partials/head %>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="javascript:history.back()"><img src="/images/back.png" alt="back"></a>
          </li>
          <li>
            <h2> Change Interests </h2>
          </li>
        </ul>
      </nav>
    </header>

    <section id="createaccount">
      <form action="search" method="get">
        <fieldset>
          <p>We match people based on interests. choose 6 interests, this can be anything. Think of hobbies, your favorite food, buketlists, music you like..</p>
          <legend></legend><label for="name"> Interest #1</label>
          <input id="name" type="text" placeholder="" required>
          <div class="interest-picture1">
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" name="picture1" accept="image/png, image/jpeg" onchange="loadFile(event)" required> <br />
          <img src="images/color.png" alt="interest" id="output"><br />
        </div>
          <legend></legend><label for="name"> Interest #2</label>
          <input id="name2" type="text" placeholder="" required>
          <div class="interest-picture2">
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" name="picture2 " accept="image/png, image/jpeg " onchange="loadFile1(event)" required> <br />
          <img src="images/color.png " alt="interest" id="output1"><br />

        </div>
          <legend></legend><label for="name"> Interest #3</label>
          <input id="name3" type="text" placeholder="" required>
          <div class="interest-picture3">
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" name="picture3 " accept="image/png, image/jpeg " onchange="loadFile2(event)" required><br />
          <img src="images/color.png " alt="interest" id="output2"><br />

        </div>
          <legend></legend><label for="name"> Interest #4</label>
          <input id="name4" type="text" placeholder=""required>
          <div class="interest-picture4">
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" name="picture4 " accept="image/png, image/jpeg " onchange="loadFile3(event)" required><br />
          <img src="images/color.png " alt="interest" id="output3"><br />
        </div>
          <legend></legend><label for="name"> Interest #5</label>
          <input id="name5" type="text" placeholder=""required>
          <div class="interest-picture5">
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" name="picture5 " accept="image/png, image/jpeg " onchange="loadFile4(event)" required><br />
          <img src="images/color.png" alt="interest" id="output4"><br />
</div>
          <legend></legend><label for="name"> Interest #6</label>
          <input id="name6" type="text" placeholder=""required>
          <div class="interest-picture6">
          <label for="interest ">Choose a picture by the interest</label>
          <input type="file" name="picture6 " accept="image/png, image/jpeg " onchange="loadFile5(event)" required><br />
          <img src="images/color.png" alt="interest" id="output5"><br />
        </div>
          <input id="button" type="submit" name="login" value="Save" />
        </fieldset>
      </form>
    </section>
    <script type="text/javascript " src="/script/index.js "></script>
  </body>

  </html>

    © 2019 GitHub, Inc.
    Terms
    Privacy
    Security
    Status
    Help

    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

