<%= typeof msg != 'undefined' ? msg : '' %>
<form action="/upload" method="post" enctype="multipart/form-data" class="upload">
    <fieldset>
        <div class="form_field">
            <div class="form_option">
                <label for="male">Profielfoto</label><br>
                <input name="userImage" type="file">
            </div>
        </div>
    </fieldset>
    <button class="form__button" type="submit">Upload bestand</button>
</form>