<fieldset>
    <div class="form_field">
        <label for="email">E-mailadres</label>
        <input type="email" name="username" id="email" required>
    </div>
    <div class="form_field">
        <label for="password">Wachtwoord</label>
        <input id="password" name="password" type="password" required>
    </div>

    <button class="form__button" type="submit">Login</button>
    <a href="">Wachtwoord vergeten?</a><br><br>
    <a href="/register">Register</a>
</fieldset>