<fieldset>
        <div class="form-field">
            <label for="firstName">Voornaam</label>
            <input type="text" name="firstName" id="firstName"  class="field" required>
        </div>
        <div class="form-field">
            <label for="lastName">Achternaam</label>
            <input type="text" name="lastName" id="lastName"  class="field"  required>
        </div>
        <div class="form-field">
                <label for="email">E-mailadres</label>
                <input type="email" name="email" id="email"  class="field" required>
        </div>
        <div class="form-field">
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" class="field" required>
        </div>

        
</fieldset>