<fieldset>
        
            <label for="firstName">Voornaam</label>
            <input type="text" name="firstName" class="field1" required>
    
      
            <label for="lastName" class="label field2">Achternaam</label>
            <input type="text" name="lastName" class="field field2"  required>
     
        
            <label for="email" class="label field3">E-mailadres</label>
            <input type="email" name="email" id="email"  class="field field3" required>
   
        
            <label for="password" class="label field4">Wachtwoord</label>
            <input type="password" name="password" class="field field4" required>

