<fieldset>
    <legend>Inloggen </legend>
    <div class="form_field">       
        <input type="email" name="username" id="email" required>
        <label for="email">E-mailadres</label>
    </div>
    <div class="form_field">
        <input id="password" name="password" type="password" required>
        <label for="password">Wachtwoord</label>
    </div>

    <button class="form__button" type="submit">Login</button>
    <a href="">Wachtwoord vergeten?</a>
</fieldset>