<fieldset>
        <div class="form-field">
            <label for="firstName">Voornaam</label>
            <input type="text" name="firstName" id="firstName">
        </div>
        <div class="form-field">
            <label for="lastName">Achternaam</label>
            <input type="text" name="lastName" id="lastName">
        </div>
        <div class="form-field">
                <label for="email">E-mailadres</label>
                <input type="email" name="email" id="email">
        </div>
        <div class="form-field">
            <label for="password">Wachtwoord</label>
            <input type="password">
        </div>

        <button class="form__button" type="submit">Registreer</button>
</fieldset>