@import url("https://use.typekit.net/uhx2ooa.css");
* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #4cbed2;
  background-image: linear-gradient(223deg, #435CA7 0%, #6171B4 24%, #4CBED2 100%);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  font-family: futura, sans-serif;
  color: #2d2d2d;
  margin: 0;
  width: 100%;
}
.splash {
  background-image: url("/public/background/EZoo-2014-Crowd-People-DLG-6008.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  z-index: -1;
}
.splash div {
  background-image: linear-gradient(223deg, #435CA7 0%, #6171B4 24%, #4CBED2 100%);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.splash ~ h1,
.splash ~ h3 {
  color: #fff;
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.splash ~ h3 {
  padding-bottom: 5rem;
}
.splash ~ p {
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 80%;
  margin: auto;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.splash ~ a {
  display: block;
  margin: auto;
  text-decoration: none;
}
h1,
h2,
h3 {
  max-width: 30rem;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1rem;
}
a {
  color: #435ca7;
  font-weight: bold;
}
/* Header navigation */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}
header a {
  color: transparent;
  background-color: #ffffff75;
  width: 2em;
  height: 2em;
  border-radius: 6px;
  margin: 0 .5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}
.logout__button {
  color: #fff;
}
.pref__button {
  background-image: url("/public/icons/filter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}
/* Footer Navigation */
footer {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100vw;
}
footer nav {
  width: 100%;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  display: block;
  color: transparent;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 2em;
  height: 3em;
}
footer ul li a.settings {
  background-image: url("/public/icons/settings-bg-white.svg");
}
footer ul li a.user {
  background-image: url("/public/icons/user-bg-white.svg");
}
footer ul li a.chat {
  background-image: url("/public/icons/chat.svg");
}
footer ul li a.match {
  background-image: url("/public/icons/festival.svg");
}
footer ul li a.noti {
  background-image: url("/public/icons/notifications.svg");
}
.profile_user {
  padding: 1rem;
}
.profile_settings {
  padding: 1rem;
}
.profile_picture {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.profile_picture img {
  width: 100%;
  height: 100%;
}
.event_succes {
  padding: 1rem;
}
/* Form styling */
form {
  max-width: 100vw;
  padding-bottom: 5rem;
}
form fieldset {
  padding: 1rem;
  border: none;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}
form fieldset legend {
  display: inline-block;
  font-size: 1.2rem;
  padding: 1rem 1rem .5rem 1rem;
  margin: 0;
  width: 100%;
}
form fieldset input {
  border-color: #435ca7;
}
form fieldset button {
  display: block;
  margin: auto;
  margin-top: 5em;
}
form fieldset textarea {
  display: block;
}
.form_field {
  display: flex;
  flex-wrap: nowrap;
  max-width: inherit;
  overflow-x: auto;
  border-bottom: 1px solid #435ca7;
}
.form_field .form_option {
  display: block;
  position: relative;
  margin: 1rem 0 1rem 1rem;
}
.form_field_event {
  background-color: rgba(255, 255, 255, 0.397);
  display: flex;
  flex-wrap: nowrap;
  max-width: inherit;
  overflow-x: auto;
}
.form_field_event .form_option_event {
  min-width: 18rem;
  position: relative;
  margin: 1rem 0 1rem 1rem;
}
.form_field_event .form_option_event input {
  position: absolute;
  visibility: hidden;
}
.form_field_event .form_option_event input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #3ffd2e69;
  width: 16rem;
  height: 10rem;
}
.form_field_event .form_option_event label.event:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  border-radius: 4px;
  content: "";
  display: block;
  width: 16rem;
  height: 10rem;
}
.form_field_event .form_option_event #psy-fi + label:before {
  background-image: url("/public/Festivals/PsyFi-logo.jpg");
}
.form_field_event .form_option_event #pinkpop + label:before {
  background-image: url("/public/Festivals/pinkpop.svg");
}
.form_field_event .form_option_event #lowlands + label:before {
  background-image: url("/public/Festivals/Lowlands-logo.jpg");
}
/* button */
.link__button,
.form__button {
  background-color: #4cbed2;
  background-image: linear-gradient(#4cbed2, #6171b4);
  border: none;
  border-radius: 6px;
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: .5rem 1rem;
  margin: auto;
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  max-width: 12rem;
}
