<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <form action="/addevent-succes" method="GET">
        <fieldset>
            <legend>Voeg een festival toe</legend>
            <div class="form_field_event">
                <div class="form_option_event">
                    <input value="lowlands" type="checkbox" name="festival" id="lowlands">
                    <label class="event" for="lowlands">Lowlands</label>
                </div>
                <div class="form_option_event">
                    <input value="pinkpop" type="checkbox" name="festival" id="pinkpop">
                    <label class="event" for="pinkpop">Pinkpop</label>
                </div>
                <div class="form_option_event">
                    <input value="psy-fi" type="checkbox" name="festival" id="psy-fi">
                    <label class="event" for="psy-fi">Psy-fi</label>
                </div>
            </div>
            
        </fieldset>
        <button class="form__button" type="submit">Voeg festival toe!</button>
    </form>
    <% include ../partials/navbar %>
</body>

</html>