<% include ../partials/head %>
<body>
    <section class="event_succes">
        <h2>Succesfully added</h2>
        
        <p>You added <%= festival %> to your list</p>
        
    </section>
    <% include ../partials/navbar %>
</body>
</html>