<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
    <% include ../partials/header %>
	<body>
		<main>
			<% include ../partials/searchevent %>
            
			<div class="event-container search">
                <% if(events.page.totalElements > 0) { %>
                    <% for(var i=0; i<events._embedded.events.length; i++) { %> 
                    <%- include("../partials/event",{ action: "/addEvent", value:"Add to profile", i:i, events:events }) %>
                    <% } %>
                <% } %>
            </div>
            <h3 class="emptySearch <% if(events.page.totalElements > 0) { %>
                <%- "hidden" %>
                <% } %>
                ">Nothing found, try other keywords</h3>
		</main>
		<% include ../partials/navbar %>
        <script type="module" src="/public/js/events.js"></script>
	</body>
</html>
