<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>

	<body>
		<main>
			<% include ../partials/searchevent %>
			<div class="event-container">
				<% for (var i=0; i <= 4; i++) { %> <% include("../partials/event",
				{action: "addEvent", value:"Add to profile"}) %> <% } %>
			</div>
		</main>
		<% include ../partials/navbar %>
	</body>
</html>
