<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <form action="/addevent-succes" method="GET">
        <fieldset>
            <legend>Voeg een festival toe</legend>
            <div class="formlist">
                <div class="form-option">
                    <input value="lowlands" type="checkbox" name="festival" id="lowlands">
                    <label for="lowlands">Lowlands</label>
                </div>
                <div class="form-option">
                    <input value="pinkpop" type="checkbox" name="festival" id="pinkpop">
                    <label for="pinkpop">Pinkpop</label>
                </div>
                <div class="form-option">
                    <input value="psy-fi" type="checkbox" name="festival" id="psy-fi">
                    <label for="psy-fi">Psy-fi</label>
                </div>
            </div>
            <button class="form__button" type="submit">Voeg festival toe!</button>
        </fieldset>
    </form>
</body>

</html>