<!DOCTYPE html>
<html lang="en">
	<% include ../partials/head %>
    <% include ../partials/header %>
	<body>
		<main>
			<% include ../partials/searchevent %>
            <% if(events.page.totalElements > 0) { %>
			<div class="event-container search">
                <% for(var i=0; i<events._embedded.events.length; i++) { %> 
                <%- include("../partials/event",{ action: "/addEvent", value:"Add to profile", i:i, events:events }) %>
                <% } %>
            </div>
            <% } %>
            <% if(events.page.totalElements === 0) { %>
                <h3 class="emptySearch">Nothing found, try other keywords</h3>
            <% } %>
		</main>
		<% include ../partials/navbar %>
        <script type="module" src="/public/js/events.js"></script>
	</body>
</html>
