<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>

<body>
    <% for(var i =0; i < user.length; i++){ %>
        <% include ../partials/matches.ejs %>
    <% } %>
    
</body>
</html>