<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
    <main class="login_form">
    <form action="/login" method="post">
        <% include ../partials/user-login.ejs %>
    </form>
</main>
</body>
</html>

