<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
    <% include ../partials/header.ejs %>
    <% include ../partials/profile.ejs %>
    <% include ../partials/navbar.ejs %>
</body>
</html>