<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
    <main>
    <% include ../partials/header.ejs %>
    
    <% include ../partials/profile.ejs %>
    </main>
    <% include ../partials/navbar.ejs %>
    <script src="/views/client-JS/carousel.js"></script>
</body>
</html>