<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <form method="POST" id="newUser" action="/register">
        <% include ../partials/user-create.ejs %>
    </form>
</body>