<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>

<body>
    
    <div class="splash">
            
        <div>
                
        </div>
        
    </div>
    <h1>De app om met festival bezoekers in contact te komen!</h1>
    <h3>Wie ontmoet jij deze zomer?</h3>

    <a href="/login" class="link__button">Login</a>
    <p>of</p>
    <a href="/register" class="link__button">Registreer</a>
</body>
</html>